* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: brown;
    color: black;
}
body {
    position: relative;
    
}
.scr {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    transition: opacity 1s ease-in-out;
}